---
http_interactions:
- request:
    method: get
    uri: https://api.catalogueoflife.org/nameusage/search?limit=10&offset=0&q=Atta&rank=genus
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v1.9.3 Colrapi/v0.1.0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"offset":0,"limit":10,"total":27,"result":[{"id":"647030","classification":[{"id":"349525","name":"Biota","rank":"domain","label":"Biota","labelHtml":"Biota"},{"id":"183716","name":"Animalia","rank":"kingdom","label":"Animalia","labelHtml":"Animalia"},{"id":"183818","name":"Arthropoda","rank":"phylum","label":"Arthropoda","labelHtml":"Arthropoda"},{"id":"184569","name":"Hexapoda","rank":"class","label":"Hexapoda","labelHtml":"Hexapoda"},{"id":"185126","name":"Hymenoptera","rank":"order","label":"Hymenoptera","labelHtml":"Hymenoptera"},{"id":"185188","name":"Formicidae","rank":"family","label":"Formicidae","labelHtml":"Formicidae"},{"id":"641244","name":"Myrmicinae","rank":"subfamily","label":"Myrmicinae","labelHtml":"Myrmicinae"},{"id":"730191","name":"Attini","rank":"tribe","label":"Attini","labelHtml":"Attini"},{"id":"647030","name":"Atta","rank":"genus","label":"Atta","labelHtml":"<i>Atta</i>"}],"usage":{"created":"2020-12-03T11:10:46.091814","createdBy":10,"modified":"2020-12-03T11:10:46.091814","modifiedBy":10,"datasetKey":2008,"id":"647030","verbatimKey":420605,"name":{"created":"2020-12-03T11:00:59.607726","createdBy":10,"modified":"2020-12-03T11:00:59.607726","modifiedBy":10,"datasetKey":2008,"id":"647030","verbatimKey":420605,"scientificName":"Atta","authorship":"Fabricius,
        1804","rank":"genus","uninomial":"Atta","combinationAuthorship":{"authors":["Fabricius"],"year":"1804"},"origin":"source","type":"scientific","parsed":true},"status":"accepted","origin":"source","parentId":"730191","accordingTo":"TAXREF","accordingToId":"r38A","label":"Atta
        Fabricius, 1804 sensu TAXREF","labelHtml":"<i>Atta</i> Fabricius, 1804 <i>sensu</i>
        TAXREF"}},{"id":"dea86979-9d34-416f-8b6c-d0c83bc4d703","classification":[{"id":"dea86979-9d34-416f-8b6c-d0c83bc4d703","name":"Atta","rank":"genus","label":"Atta","labelHtml":"<i>Atta</i>"}],"usage":{"created":"2021-02-10T10:10:54.541386","createdBy":10,"modified":"2021-02-10T10:10:54.541386","modifiedBy":10,"datasetKey":2037,"id":"dea86979-9d34-416f-8b6c-d0c83bc4d703","verbatimKey":57718,"name":{"created":"2021-02-10T10:08:06.078354","createdBy":10,"modified":"2021-02-10T10:08:06.078354","modifiedBy":10,"datasetKey":2037,"id":"dea86979-9d34-416f-8b6c-d0c83bc4d703","verbatimKey":57718,"scientificName":"Atta","authorship":"Fabricius,
        1804","rank":"genus","uninomial":"Atta","combinationAuthorship":{"authors":["Fabricius"],"year":"1804"},"code":"zoological","publishedInId":"5ebe35d9-8dd9-48ec-953a-31a1bc6213ed","origin":"source","type":"scientific","link":"http://zoobank.org/dea86979-9d34-416f-8b6c-d0c83bc4d703","parsed":true},"status":"accepted","origin":"source","accordingTo":"Fabricius,
        Johann C. 1804. Systema piezatorum secundum ordines, genera, species : adiectis
        synonymis, locis, observationibus, descriptionibus. Carolum Reichard, Brunsvigae.:
        i-xiv; 15-439; 1-30.","accordingToId":"5ebe35d9-8dd9-48ec-953a-31a1bc6213ed","link":"http://zoobank.org/dea86979-9d34-416f-8b6c-d0c83bc4d703","label":"Atta
        Fabricius, 1[...]
