name: Ruby

on: [push,pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: 3.3.4
        bundler-cache: true
    - name: Run the default task
      run: bundle exec rake
      env:
        USER: ${{ vars.USER }}
        PASSWORD: ${{ secrets.PASSWORD }}
